* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background: #fff;
    color: #333;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 600px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.hero .hero-buttons {
    margin-bottom: 20px;
}

/* Video Section */
.video {
    padding: 10px 0 20px;
}

.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .video-preview {
    margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
  padding: 40px 0;
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 20px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonials .card p:nth-child(2) {
    margin-top: 20px;
    font-weight: bold;
}

/* Pricing */
.pricing .pricing-subhead {
    margin-bottom: 30px;
}

.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.pricing .pricing-card-price {
    margin: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #333;
}

.pricing-card-body ul {
    margin: 20px 0;
}

.pricing-card-body ul li {
    margin-bottom: 20px;
}

.pricing-card-body ul li i {
    margin-right: 15px;
}

.pricing .pricing-footer {
    margin-top: 40px;
}

/* FAQ */
.faq {
    padding: 30px 0;
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin-bottom: 10px;
}

.faq .faq-group .faq-group-header {
    margin: 15px;
    position: relative;
}

.faq .faq-group .faq-group-header h3 {
    font-weight: 600;
    width: 95%;
    margin-bottom: 20px;
}

.faq .faq-group .faq-group-header i {
   position: absolute;
   right: 0;
   top: 40px;
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open {
    display: block;
}

.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
}

/* Footer */
.footer {
    margin: 20px 0;
    padding: 30px 0 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer .card h2 {
    padding-bottom: 15px;
}

.footer .footer-about {
    padding-top: 50px;
}

.footer .footer-about h2 {
    padding-bottom: 15px;
}

.footer .footer-about ul li {
    padding: 10px 0;
}

.footer .footer-about ul li a {
    color: #fff;
}

.footer form {
    margin-right: 20px;
    padding: 20px;
}

.footer form h2 {
    padding-bottom: 15px;
}

.footer input[type='text'] {
    padding: 10px;
    width: 100%;
    border: #ccc solid 1px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.footer input[type='text']:focus {
    outline: none;
}

.footer i {
    font-size: 40px;
    margin-right: 30px;
}

/*Utility Classes */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Card */
.card {
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 10px;
}

/* Buttons */
.btn {
   display: inline-block;
   padding: 10px 20px;
   background: var(--light-color);
   color: #333;
   font-weight: 600;
   text-decoration: none;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   text-align: center;
   transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Sizes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-lg {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 15px;
}

.text-md {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.8rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-black {
    background: #000;
    color: #fff;
}

/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background: #333;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 100;
    transition: right 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* Media Query */
@media (max-width: 960px) {
   .text-xxl {
    font-size: 2.8rem;
   }
}

@media (max-width: 670px) {
   .navbar .main-menu {
    display: none;
   }

   .hamburger-button {
    display: block;
   }

    .hero .container {
        background: url('../images/hero-bg-mobile.png') no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 800px;
    }

   .hero .hero-content,
   .hero .hero-text {
    width: 100%;
    text-align: center;
   }

   .hero .hero-buttons .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
   }

   .testimonials .testimonials-heading {
    width: 100%;
    text-align: center;
   }

   .testimonials .testimonials-grid,
   .pricing .pricing-grid,
   .footer .footer-grid {
    grid-template-columns: 1fr;
   }

   .footer .card {
    margin-right: 0;
   }

   .footer .footer-grid >div {
    text-align: center;
   }

   /* text sizes */
   .text-xl {
    font-size: 1.9rem;
   }

   .text-lg {
    font-size: 1.5rem;
   }

   .text-md {
    font-size: 1.2rem;
   }
}

@media (max-width: 500px) {

}